table, td, tr {
      border: 1px solid black;
      border-collapse: collapse;

      margin: 0;
      padding: 0;

    }

    td {
      width: 24px;
      height: 24px;
      background-color: black;
    }

    input.input-cell {
      border: none;
      width: 24px;
      height: 24px;
      text-align: center;
      font-size: 0.9em;
    }

    .cell { 
      position: relative; 
      width: 100%;
      height: 100%;
    }

    .la { 
      /*вместо мелкого текста в уголке запилить большой серый в фоне?*/
      position: absolute; 
      top: 0px; 
      left: 0px; 
      font-size: 0.6em;
    }

    .highlighted {
      background-color: yellow;
    }

    .correct {
      background-color: #66FF00;
    }

    .incorrect {
      background-color: red;
    }

    .wrap {
      /*display: flex;*/
    }

    .cw {
      /*width: 40%;*/
      float: left;
      width: 480px;
      height: 480px;
      margin-right: 48px;
      margin-bottom: 72px;
    }

    .cw-table {
      /*width: 40%;*/
      width: 480px;
      height: 480px;
    }

    .clues {
      width: 60%;
      float: left;
      
    }


    /* mobile
    div.cw{
        width:40%;
        min-width:500px;
        float:left;

    }

    .cw-table {width: 1600px !important;}

    @media screen and (max-width: 767px){
        div.cw{ width: 100%}

    }*/

    .horizontal-clues {
      width: 45%;
      float: left;
      margin-right: 5%;
    }

    .vertical-clues {
      width: 45%;
      float: left;
      margin-left: 5%;
    }

    .cw-btn {
      margin-top: 16px;
    }

    body {
      margin-top: 70px;
      margin-bottom: 100px;
    }

    html {
      position: relative;
      min-height: 100%;
    }

    #footer {
      background-color: #333;
      padding-top: 16px;
      padding-bottom: 20px;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 48px;
      color: #DCDCDC;
      font-family: Helvetica;
      font-size: 16px;
    }

    .centered {
      text-align: center;
    }

    .content {
      position: relative;
      min-height: 600px;
      margin-left: 5%;
      margin-right: 5%;
    }

    .navbar {
      font-weight: 800;
      font-size: 14px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .navbar-inverse {
      background-color: #2d2d2d;
      border-color: #2d2d2d;
    }

    /*.navbar-brand {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
    }*/

    .navbar-inverse .navbar-nav > .active > a {
      background-color: #337ab7;
    }

    .navbar-inverse .navbar-brand {
      color: #999;
      font-weight: bolder;
      font-size: 22px;
      letter-spacing: 1px;
    }

    .four-columns {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
      
    }