table, td, tr {
  margin: 0;
  padding: 0;
}

td {
  width: 24px;
  height: 24px;
  background-color: black;
}

input.input-cell {
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 0.8em;
}

.cell { 
  position: relative; 
  width: 100%;
  height: 100%;
}

.la { 
  position: absolute; 
  margin-top: 1px; 
  margin-left: 1px; 
  font-size: 0.6em;
  user-select: none;
}

.highlighted {
  background-color: yellow;
}

.cw-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  margin-top: 70px;
  margin-bottom: 100px;
}

html {
  position: relative;
  min-height: 100%;
}

.centered {
  text-align: center;
}

.cw-list {
  column-count: 3;
  list-style-position: inside;
  padding-left: 0;
}

@media (max-width: 767px) {
  .cw-list {
    column-count: 2;
  }
}


/*.three-columns > li {
  padding-left: 2em;
  text-indent: -2em;
}*/

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.clue {
    width: 100%;
}

.input-cell {
    border: none !important;
}

.cw-table tr td {
    border: 1px solid black;
}

.cw-table-wrapper {
  overflow-x:auto;
  width:100%;
  height:100%;
}

.cw-table {
  margin-left: auto !important;
  margin-right: auto !important;
}

.cw-name {
  font-size: 36px;
  margin-bottom: 30px;
}

@media (max-width : 767px) {
    .cw-name {
      font-size: 18px;
      margin-bottom: 10px;
    }
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-inverse {
  background-color: #2d2d2d;
  border: none;
}

.navbar-inverse .navbar-brand {
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-brand {
      font-size: 16px;
      margin-bottom: -15px;
      padding-left: 0;
      padding-right: 0;
    }
}

.navbar-inverse .navbar-nav {
  font-size: 16px;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav {
    font-size: 16;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    height: 100%;
  }
}

.footer {
  background-color: #333;
  padding-top: 16px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  color: #999;
  font-size: 16px;
}

